.App {
  text-align: center;
  background-color: ;
}

.banner-page {
  box-sizing: border-box;
  height: 100vh;
  background-color:#F6EFE6;
  display: flex;
  justify-content: space-between;
  padding: 30px 140px;
}